* {
    padding: 0;
    margin: 0;
}

#Contenedor_Padre {
    display: flex;
    flex-direction: column;
    border-color: red 4px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-color: blue 4px;
    background-color: rgb(48, 48, 48);
    
}

.sub1 {
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.lista {
    display: flex;
    margin-right: 150px;
    gap: 80px;
}

.sub2 {
    height: 100px;
    width: 85%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.lista2 {
    display: flex;
    gap: 30px;
    list-style: none;
}

.sub3 {
    height: 200px;
    width: 85%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.texto1 {
    width: 50%;
    height: 40px;
}

.entrada1 {
    width: 35%;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}

.boton1 {
    width: 7%;
    height: 30px;
    border-radius: 10px;
    background-color: orange;
}

main {
    border: 4px solid green;
}

footer {
    border: 4px solid purple;
}

hr {
    background-color: black;
    width: 85%;
}